extends main.pug

block medicine1
    h1.pageTitle All medicines

    each medicine in medicines
        div.medicine_wrapper
            .items
                a.allMedicine(href="#")= medicine
            
            
            .all 
                a.delete(href="#") Delete

