extends main.pug

block medicine1
  section.section.page
    h1.title Sold Items Page

    if soldItems.length
      h2 Total items sold: #{soldItems.length}
      ul.list
        each item in soldItems
          li.list-item
            h2 User sold #{item.name} for #{item.price} dollars
            div
              button.delete(data-id= item.id) Delete

    else
      h4 No items sold
