extends main.pug

block medicine1
  h1 Sold Items
  table
    thead
      tr
        th Item Name
        th Quantity Sold
        th Total Sales
    tbody
      each item in items
        tr
          td= item.name
          td= item.quantity
          td= item.sales
